
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screenshot</title>
    <!-- Awesome font icon link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- External CSS Link -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>

      <!-- header section starts  -->

      <header class="header">
        <div class="logo">
            <a href="{% url 'home' %}"><i class="fa-solid fa-user-secret"></i>  TrackSoft</a>
          </div>

        <nav class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'demo' %}">Demo</a>
            <a href="{% url 'home' %}">About</a>
            <a href="{% url 'home' %}">Log Out</a>
        </nav>

    </header>

        <!-- header section ends -->

          <h1 class="heading" style="margin-top:80px"><span>Screenshots</span> </h1>
            <div>
              {% for photo_url in photo_urls %}
                <img src="{{ photo_url }}" alt="Screenshot" style="height: 300px; margin: 20px 110px;" >
              {% endfor %}
            </div>
  </body>
</html>
